export interface Input extends Marko.HTML.A {}

a ...input class=[input.class, ":uno: relative overflow-hidden inline-flex mt-6 rounded-[2rem] px-16 py-4 no-underline text-white bg-section text-[1.1rem] font-medium justify-center self-start justify-self-end w-full dark:text-foreground dark:bg-gradient-to-r dark:from-section-dark dark:to-section-light min-[30rem]:w-auto lg:px-[2.4rem] lg:py-[0.8rem] hover:after:content-empty hover:after:absolute hover:after:-top-1/2 hover:after:-left-1/4 hover:after:w-[150%] hover:after:h-[200%] hover:after:bg-[linear-gradient(-45deg,transparent,rgba(255,255,255,0.3),transparent)] hover:after:animate-shimmer"]
