export interface Input {
  key: string;
}
<let/internalValue=$global.url.searchParams.get(input.key)/>

<return=internalValue valueChange(newValue: string) {
  const newUrl = new URL(window.location.href);
  newUrl.searchParams.set(input.key, newValue);
  history.replaceState(null, "", newUrl.toString())
  internalValue = newValue;
}/>
