<widget nubs={ right: "out", top: "in", bottom: "in" } color="yellow-dark">
  // eyes
  <circle r=44 cx=15 cy=-32 fill="white" />
  <circle r=44 cx=115 cy=-32 fill="white" />
  // pupils
  <circle r=30 cx=29 cy=-32 fill="black" />
  <circle r=30 cx=129 cy=-32 fill="black" />
</widget>
