<widget nubs={ right: "in", top: "out" } color="red-light">
  // eyes
  <circle r=43 cx=-110 cy=70 fill="white" />
  <circle r=43 cx=-10 cy=70 fill="white" />
  // heart pupils
  <path
    d="M -94 58 q 6 -10 16 -10 t 14 8 t 0 17 t -30 28 q -26 -19 -30 -28 t 0 -17 t 14 -8 t 16 10"
    fill="black"
  />
  <path
    d="M 6 58 q 6 -10 16 -10 t 14 8 t 0 17 t -30 28 q -26 -19 -30 -28 t 0 -17 t 14 -8 t 16 10"
    fill="black"
  />
</widget>
