<widget nubs={ top: "out", left: "in" } color="gray-light">
  // eyes
  <circle r=44 cx=10 cy=50 fill="white" />
  <circle r=44 cx=110 cy=50 fill="white" />
  // pupils (x)
  <g stroke="black" fill="none" stroke-width=10 stroke-linecap="round">
    <path d="M -5 35 l 30 30 m -30 0 l 30 -30"/>
    <path d="M 95 35 l 30 30 m -30 0 l 30 -30"/>
  </g>
  // mouth
  <line x1=20 x2=100 y1=105 y2=105 stroke-width=4 stroke="black" stroke-linecap="round"/>
</widget>
