import type { HeadingList } from "../../../types";
export interface Input {
  value: HeadingList;
}

<for|heading| of=input.value>
  <li>
    <a href=`#${heading.id}`>
      ${heading.title}
    </a>
    <if=(heading.children.length)>
      <ul>
        <toc-tree=heading.children/>
      </ul>
    </if>
  </li>
</for>
