:root {
  color-scheme: light dark;
  --color-black: #202124;
  --color-white: #ffffff;
  --color-black: #202124;
  --color-white: #ffffff;
  --color-blue-dark: #0073D8;
  --color-blue-light: #00CFFB;
  --color-blue-pale-dark: #244148;
  --color-blue-pale-light: #D9F6FF;
  --color-green-dark: #00B068;
  --color-green-light: #7CED64;
  --color-green-pale-dark: #32452E;
  --color-green-pale-light: #E7FDE3;
  --color-yellow-dark: #FC5C00;
  --color-yellow-light: #FFD100;
  --color-yellow-pale-dark: #494024;
  --color-yellow-pale-light: #FFF7D9;
  --color-red-dark: #CC0067;
  --color-red-light: #FF5467;
  --color-red-pale-dark: #512E2E;
  --color-red-pale-light: #FFE2E0;
  --color-purple-dark: #5b43a7;
  --color-purple-light: #c999ec;
  --color-purple-pale-dark: #3f3646;
  --color-purple-pale-light: #f4ebfc;
  --color-selection-background: var(--color-red-secondary);
  --color-selection-foreground: var(--color-red-primary);

  --color-background: light-dark(var(--color-white), var(--color-black));
  --color-foreground: light-dark(var(--color-black), var(--color-white));
  @each $color in "red", "yellow", "green", "blue", "purple" {
    --color-#{$color}-primary: light-dark(
      var(--color-#{$color}-dark),
      var(--color-#{$color}-light)
    );
    --color-#{$color}-secondary: light-dark(
      var(--color-#{$color}-light),
      var(--color-#{$color}-dark)
    );
    --color-#{$color}-pale-primary: light-dark(
      var(--color-#{$color}-pale-dark),
      var(--color-#{$color}-pale-light)
    );
    --color-#{$color}-pale-secondary: light-dark(
      var(--color-#{$color}-pale-light),
      var(--color-#{$color}-pale-dark)
    );
  }

  --section-color-dark: var(--color-red-dark);
  --section-color-light: var(--color-red-light);
  --section-color-pale-dark: var(--color-red-pale-dark);
  --section-color-pale-light: var(--color-red-pale-light);
  --section-color-primary: var(--color-red-light);
  --section-color-secondary: var(--color-red-dark);
  --section-color-pale-primary: var(--color-red-pale-primary);
  --section-color-pale-secondary: var(--color-red-pale-secondary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: 500;
  line-height: 100%;
  overflow-wrap: break-word;
  text-wrap: balance;
}

h1 {
  font-size: 2.8rem;
  margin-top: -0.25rem;
  @media (min-width: 70rem) {
    font-size: 4.5rem;
    margin-top: -0.5rem;
  }
}

h2 {
  font-size: 1.5rem;
  @media (min-width: 70rem) {
    font-size: 2.8rem;
  }
}

h3 {
  font-size: 1.1rem;
  @media (min-width: 70rem) {
    font-size: 1.5rem;
  }
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

::selection {
  background-color: var(--color-selection-background);
  color: var(--color-selection-foreground);
  filter: contrast(200%);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  max-width: 100%;
  font-family:
    Ubuntu,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

a {
  display: inline-block;
  color: var(--section-color-primary);
  text-decoration: none;
  &:hover {
    box-shadow: 0 2px 0 0 var(--section-color-primary);
  }
}

pre {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--section-color-primary);
  overflow-x: scroll;
}

code {
  display: inline-block;
  font-family:
    "Ubuntu Mono",
    monaco,
    Consolas,
    Lucida Console,
    monospace;

  :not(pre) > & {
    color: var(--section-color-foreground);
    background-color: var(--section-color-pale-secondary);
    border-radius: 1rem;
    padding: 0rem 0.4rem;
  }
}

.root {
  margin: 0 auto;
  padding: 0 8rem;
  max-width: 90rem;

  @media (max-width: 80rem) {
    padding: 0 2.5rem;
  }
}
