@use "sass:color" as color;
@use "app/tags/app-header/app-header.style.module.scss" as header;

$black: #202124;
$white: #ffffff;
$colors: (
  ("red", #cc0067, #ff5467),
  ("yellow", #fc5c00, #ffd100),
  ("green", #00b068, #7ced64),
  ("blue", #0073d8, #00cffb),
  ("gray", #6e6e6e, #cccccc)
);

:root {
  color-scheme: light dark;

  --color-black: #{$black};
  --color-white: #{$white};
  --color-foreground: var(--color-white);
  --color-background: var(--color-black);
  --color-selection-foreground: var(--color-red);
  --color-selection-background: var(--color-red-alt);

  @each $name, $dark, $light in $colors {
    $tint-percent: 20%;
    $shade-percent: 20%;
    --color-#{$name}-dark: #{$dark};
    --color-#{$name}-light: #{$light};
    --color-#{$name}-dark-tint: #{color.mix(
        $dark,
        $white,
        $weight: $tint-percent
      )};
    --color-#{$name}-dark-shade: #{color.mix(
        $dark,
        $black,
        $weight: $shade-percent
      )};
    --color-#{$name}-light-tint: #{color.mix(
        $light,
        $white,
        $weight: $tint-percent
      )};
    --color-#{$name}-light-shade: #{color.mix(
        $light,
        $black,
        $weight: $shade-percent
      )};
    --color-#{$name}: var(--color-#{$name}-dark);
    --color-#{$name}-alt: var(--color-#{$name}-light);
    --color-#{$name}-dim: var(--color-#{$name}-dark-tint);
    --color-#{$name}-dim-alt: var(--color-#{$name}-light-shade);
    --color-#{$name}-alt-dim: var(--color-#{$name}-light-tint);
    --color-#{$name}-alt-dim-alt: var(--color-#{$name}-dark-shade);
  }

  @media (prefers-color-scheme: dark) {
    --color-foreground: var(--color-white);
    --color-background: var(--color-black);
    @each $name, $_ in $colors {
      --color-#{$name}: var(--color-#{$name}-light);
      --color-#{$name}-alt: var(--color-#{$name}-dark);
      --color-#{$name}-dim: var(--color-#{$name}-light-shade);
      --color-#{$name}-dim-alt: var(--color-#{$name}-dark-tint);
      --color-#{$name}-alt-dim: var(--color-#{$name}-dark-shade);
      --color-#{$name}-alt-dim-alt: var(--color-#{$name}-light-tint);
    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: 500;
  text-wrap: balance;
}

h1 {
  font-size: 3rem;
  margin-top: -0.5rem;
  @media (min-width: 90rem) {
    font-size: 4.5rem;
    margin-top: -1rem;
  }
}

h2 {
  font-size: 2.2rem;
  @media (min-width: 90rem) {
    font-size: 2.8rem;
  }
}

h3 {
  font-size: 1.8rem;
  @media (min-width: 90rem) {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.2rem;
  @media (min-width: 90rem) {
    font-size: 1.6rem;
  }
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

::selection {
  background-color: var(--color-selection-background);
  color: var(--color-selection-foreground);
}

body {
  touch-action: manipulation;
  background-color: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  font-family: Ubuntu, sans-serif;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 82rem;
  min-height: 100vh;

  @media (min-width: 64rem) {
    padding: 0 5rem;
    max-width: 90rem;
  }
}

input,
textarea,
button {
  font-family: inherit;
}

a {
  color: var(--section-color);
  text-decoration-thickness: 1px;
  text-decoration-color: var(--section-color);
  text-decoration-line: underline;
  text-underline-offset: 0.2lh;
  text-decoration-skip-ink: none;
  &:has(code) {
    line-height: 1.8;
  }
  &:hover {
    @media (pointer: fine) {
      text-decoration-thickness: 2px;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h5 {
  a {
    text-decoration-line: none;
  }
}

pre {
  padding: 0.25rem 1rem;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  border-left: 4px solid var(--section-color-dim);
  scrollbar-width: thin;
  scrollbar-color: var(--section-color-dim) var(--color-background);
}

code {
  font-family: "Ubuntu Mono", monospace;
  line-height: 1.5;
  text-wrap: nowrap;

  :not(pre) > & {
    color: var(--section-color);
    background-color: var(--section-color-dim);
    border-radius: 0.5lh;
    padding: 0.2rem 0.75ch;
    line-height: 1.8;
  }
}

main {
  display: flex;
  gap: 2.5rem;
  flex: 1 0 auto;
  flex-direction: column;
}
