:root {
  color-scheme: light dark;
  --color-black: #202124;
  --color-white: #ffffff;
  --color-black: #202124;
  --color-white: #ffffff;
  --color-blue-dark: #0073D8;
  --color-blue-light: #00CFFB;
  --color-blue-pale-dark: #184D5A;
  --color-blue-pale-light: #D9EAF9;
  --color-green-dark: #00B068;
  --color-green-light: #7CED64;
  --color-green-pale-dark: #375434;
  --color-green-pale-light: #D9F3E8;
  --color-yellow-dark: #FC5C00;
  --color-yellow-light: #FFD100;
  --color-yellow-pale-dark: #584D1B;
  --color-yellow-pale-light: #FFE7D9;
  --color-red-dark: #CC0067;
  --color-red-light: #FF5467;
  --color-red-pale-dark: #582E35;
  --color-red-pale-light: #F7D9E8;
  --color-purple-dark: #5b43a7;
  --color-purple-light: #c999ec;
  --color-purple-pale-dark: #4A3F56;
  --color-purple-pale-light: #E6E3F2;
  --color-selection-background: var(--color-red-secondary);
  --color-selection-foreground: var(--color-red-primary);

  --color-background: light-dark(var(--color-white), var(--color-black));
  --color-foreground: light-dark(var(--color-black), var(--color-white));
  @each $color in "red", "yellow", "green", "blue", "purple" {
    --color-#{$color}-primary: light-dark(
      var(--color-#{$color}-dark),
      var(--color-#{$color}-light)
    );
    --color-#{$color}-secondary: light-dark(
      var(--color-#{$color}-light),
      var(--color-#{$color}-dark)
    );
    --color-#{$color}-pale-primary: light-dark(
      var(--color-#{$color}-pale-dark),
      var(--color-#{$color}-pale-light)
    );
    --color-#{$color}-pale-secondary: light-dark(
      var(--color-#{$color}-pale-light),
      var(--color-#{$color}-pale-dark)
    );
  }

  --section-color-dark: var(--color-red-dark);
  --section-color-light: var(--color-red-light);
  --section-color-pale-dark: var(--color-red-pale-dark);
  --section-color-pale-light: var(--color-red-pale-light);
  --section-color-primary: var(--color-red-light);
  --section-color-secondary: var(--color-red-dark);
  --section-color-pale-primary: var(--color-red-pale-primary);
  --section-color-pale-secondary: var(--color-red-pale-secondary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: 500;
  line-height: 100%;
  overflow-wrap: break-word;
  text-wrap: balance;
}

h1 {
  font-size: 3rem;
  margin-top: -0.25rem;
  @media (min-width: 90rem) {
    font-size: 4.5rem;
    margin-top: -0.4rem;
  }
}

h2 {
  font-size: 2.2rem;
  @media (min-width: 90rem) {
    font-size: 2.8rem;
  }
}

h3 {
  font-size: 1.8rem;
  @media (min-width: 90rem) {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.2rem;
  @media (min-width: 90rem) {
    font-size: 1.6rem;
  }
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

::selection {
  background-color: var(--color-selection-background);
  color: var(--color-selection-foreground);
  filter: contrast(200%);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  max-width: 100%;
  font-family:
    Ubuntu,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

a {
  color: var(--section-color-primary);
  text-decoration: none var(--section-color-primary) solid 2px;
  text-underline-offset: 25%;
  &:hover {
    text-decoration-line: underline;
  }
}

pre {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--section-color-primary);
  overflow-x: auto;
}

code {
  font-family:
    "Ubuntu Mono",
    monaco,
    Consolas,
    Lucida Console,
    monospace;

  :not(pre) > & {
    color: var(--section-color-foreground);
    background-color: var(--section-color-pale-secondary);
    border-radius: 1rem;
    padding: 0.2rem 0.4rem;
  }
}

.root {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 90rem;
}
