// TODO: find a better solution to the Marko translator needing `process.cwd()`
html-script -- (globalThis.process ||= {}).cwd = () => "/";

hash-files/files=[
  {
    path: "index.marko",
    content:
      "<let/count=0>\n<button onClick() { count++ }>\n  ${count}\n</button>\n",
  },
]

playground files:=files
