home-cta
home-features
// home-language
// home-streaming
// home-code-elimination
// home-testimonies
// home-community

style --
  .demo-pages {
    display: flex;
    gap: 1rem;
    justify-content: space-around;

    > * {
      box-shadow: 0 0 0.5rem var(--color-foreground);
    }

    > :first-child {
      translate: 0 1rem;
    }
    > :last-child {
      translate: 0 -1rem;
    }
  }
