.gradient {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    to right,
    var(--text-gradient-start),
    var(--text-gradient-end)
  );
}

.red {
  composes: gradient;
  --text-gradient-start: var(--color-red-primary);
  --text-gradient-end: var(--color-red-secondary);
}
.blue {
  composes: gradient;
  --text-gradient-start: var(--color-blue-primary);
  --text-gradient-end: var(--color-blue-secondary);
}
.green {
  composes: gradient;
  --text-gradient-start: var(--color-green-primary);
  --text-gradient-end: var(--color-green-secondary);
}
.yellow {
  composes: gradient;
  --text-gradient-start: var(--color-yellow-primary);
  --text-gradient-end: var(--color-yellow-secondary);
}
.purple {
  composes: gradient;
  --text-gradient-start: var(--color-purple-primary);
  --text-gradient-end: var(--color-purple-secondary);
}
