@use "@docsearch/css";
.DocSearch {
  &-Button-Keys,
  &-Search-Icon,
  &-Button-Placeholder {
    display: none;
  }

  &-Modal {
    border: 2px solid transparent;
    border-radius: 0;

    @media (min-width: 48rem) {
      border-color: var(--color-blue-dark);
      border-radius: 35px;
    }
  }

  &-Container {
    backdrop-filter: blur(0.6rem);
  }

  &-Form {
    border: 2px solid var(--color-blue-dark);
    border-radius: 1.25rem;
    &:before {
      display: block;
      height: 1.25rem;
      width: 1.25rem;
      margin-left: 0.2rem;
      mask-image: url(./search.svg?no-inline);
      background-color: var(--color-foreground);
      content: "";
    }
  }

  &-Hit a {
    border-radius: 1.25rem;
  }

  &-Logo {
    .cls-1,
    .cls-2 {
      fill: var(--docsearch-muted-color);
    }
  }

  &-Footer {
    padding: 2rem;
  }
}

:root {
  --docsearch-primary-color: var(--color-blue-dark);
  --docsearch-text-color: currentColor;
  --docsearch-spacing: 1rem;
  --docsearch-icon-stroke-width: 1.4;
  --docsearch-highlight-color: var(--color-blue-dark);
  --docsearch-muted-color: #888;
  --docsearch-container-background: transparent;
  --docsearch-container-background: color-mix(
    in srgb,
    var(--color-blue-dim) 25%,
    transparent
  );
  --docsearch-logo-color: var(--color-blue-dark);
  --docsearch-modal-width: 50rem;
  --docsearch-modal-background: var(--color-background);
  --docsearch-modal-shadow: 0 0.5rem 5rem 0.5rem var(--color-blue-dim);
  --docsearch-searchbox-background: transparent;
  --docsearch-searchbox-focus-background: transparent;
  --docsearch-searchbox-shadow: transparent;
  --docsearch-hit-color: var(--color-foreground);
  --docsearch-hit-background: transparent;
  --docsearch-hit-shadow: transparent;
  --docsearch-key-shadow: transparent;
  --docsearch-key-pressed-shadow: transparent;
  --docsearch-footer-background: transparent;
  --docsearch-footer-shadow: transparent;
}
