.section {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 11rem;
  gap: 1rem;
}
.cards a {
  color: var(--color-section);
}
.card:hover .logo {
  animation: bounce 0.5s;
}

.stackoverflow {
  composes: card;
  --color-section: #F47F24;
}
.discord {
  composes: card;
  --color-section: #5865F2;
}
.twitter {
  composes: card;
  --color-section: var(--color-foreground);
}
.github {
  composes: card;
  --color-section: var(--color-foreground);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
}

.logo path {
  fill: var(--color-section);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0) scale(1.1, 0.9);
  }
  30% {
    transform: translateY(-20px) scale(0.95, 1.05);
  }
  40% {
    transform: translateY(0) scale(1.05, 0.95);
  }
  50% {
    transform: translateY(-10px) scale(0.98, 1.02);
  }
  70% {
    transform: translateY(0) scale(1.02, 0.98);
  }
  100% {
    transform: translateY(0);
  }
}
