import type { File } from "app/util/workspace";

export interface Input {
  files: File[];
  filesChange?: (files: File[]) => void;
}

let/tabIndex=0

split-panes
  @first
    editor files:=input.files tabIndex:=tabIndex
  @second
    playground-output files=input.files selected=tabIndex

style --
  iframe.result {
    width: 100%;
    height: 100%;
    border: none;
  }
