import type { WorkspaceFile } from "../../utils/workspace";

export interface Input {
  files: WorkspaceFile[];
  filesChange?: (files: WorkspaceFile[]) => void;
}

let/tabIndex=0

split-panes
  @first
    editor files:=input.files tabIndex:=tabIndex
  @second
    playground-output files=input.files selected=tabIndex

style --
  iframe.result {
    width: 100%;
    height: 100%;
    border: none;
  }
