@use "sass:list" as list;
@use "sass:color" as color;

$black: #202124;
$white: #ffffff;
$colors: (
  ("red", #cc0067, #ff5467) /* mix: #e63467 */,
  ("green", #00b068, #7ced64) /* mix: #49cf69 */,
  ("blue", #0073d8, #00cffb) /* mix: #00a2ec */,
  ("yellow", #fc5c00, #ffd100) /* mix: #ff9800 */,
  ("gray", #6e6e6e, #cccccc) /* mix: #9c9c9c */
);
// ("purple", #5b43a7, #c999ec) /* mix: #916dca */
// mix playground: https://next.markojs.com/playground#djIfiwgAAAAAAAATnVLBbtRADP0Va1qqRGTTbCU4bJUDFCS40iNTqZOJkx068UQTp6Ra5d-Rky0tFVIRN897z_azx98Pqje8VzvlqMYp70y8CypTNhAjsdop6x0Sg-v6EBkOwOELTjBDE0MHWuXnIzs_aKVJk0c-N6VWJ01TFEUhoECVQEUh4KprHPp6QNYE4LFFqmGzgavgQ4QPAjrqRwZ-6LHUygquFdwbP-KuNE-CBSkNBLraG2oxwRQOQgMYKCHBnE1skfNFCOVq_gWcppeSMr9m7ONrxqqXxqq_Gav-y5issQsjMdZQQmP8gJoGG13P4vCJ4jjipSYbaODzzk1Yl4_k2dmxze1ifNO5KXEE4c7bfQanBzPDu-KNRNWc3qbSto8IAz94LA-gVWXsXRvDSPXmOPoOlhYwLyYk3MHpYQlmTWrOfp_XciX5j-HP2xKXYA3dmwFKqIMdOyTObUTD-NmjvBKtVoVWspA1zn-6mvdQHpPzPbp2z1DC9nF4sDw98S3ylbSdpNxFvZbShNNy1c1Ill2g436W4Y4fZnnKG-f9tWxB6gl3-Zz5hpaTIoMig20G27UwwGrie8ygzaC6kVSexMfXzrT4ybB5npTXhs0xMyKPkSBZ70WrE63g7fqIOYdrjo7aZPs-zXtTX7OJnFxkoFWhVfoobP9VWL0mFJnMNKv55hc31gwaLgQAAA

@mixin init {
  :root {
    color-scheme: light dark;
    --color-black: #{$black};
    --color-white: #{$white};
    --color-foreground: var(--color-black);
    --color-background: var(--color-white);

    @each $name, $dark, $light in $colors {
      $tint-percent: 20%;
      $shade-percent: 20%;
      --color-#{$name}-dark: #{$dark};
      --color-#{$name}-light: #{$light};
      --color-#{$name}-dark-tint: #{color.mix(
          $dark,
          $white,
          $weight: $tint-percent
        )};
      --color-#{$name}-dark-shade: #{color.mix(
          $dark,
          $black,
          $weight: $shade-percent
        )};
      --color-#{$name}-light-tint: #{color.mix(
          $light,
          $white,
          $weight: $tint-percent
        )};
      --color-#{$name}-light-shade: #{color.mix(
          $light,
          $black,
          $weight: $shade-percent
        )};
      --color-#{$name}: var(--color-#{$name}-dark);
      --color-#{$name}-alt: var(--color-#{$name}-light);
      --color-#{$name}-dim: var(--color-#{$name}-dark-tint);
      --color-#{$name}-dim-alt: var(--color-#{$name}-light-shade);
      --color-#{$name}-alt-dim: var(--color-#{$name}-light-tint);
      --color-#{$name}-alt-dim-alt: var(--color-#{$name}-dark-shade);
    }

    @media (prefers-color-scheme: dark) {
      --color-foreground: var(--color-white);
      --color-background: var(--color-black);
      @each $name, $_ in $colors {
        --color-#{$name}: var(--color-#{$name}-light);
        --color-#{$name}-alt: var(--color-#{$name}-dark);
        --color-#{$name}-dim: var(--color-#{$name}-light-shade);
        --color-#{$name}-dim-alt: var(--color-#{$name}-dark-tint);
        --color-#{$name}-alt-dim: var(--color-#{$name}-dark-shade);
        --color-#{$name}-alt-dim-alt: var(--color-#{$name}-light-tint);
      }
    }
  }
}

@mixin section($color, $dark: false) {
  --section-color-dark: var(--color-#{$color}-dark);
  --section-color-light: var(--color-#{$color}-light);

  @if $dark and $color != "blue" and $color != "yellow" and $color != "gray" {
    --section-color: var(--color-#{$color}-dark);
    --section-color-alt: var(--color-#{$color}-light);

    --section-color-dim: var(--color-#{$color}-dark-tint);
    --section-color-dim-alt: var(--color-#{$color}-dark-shade);
    --section-color-alt-dim: var(--color-#{$color}-light-tint);
    --section-color-alt-dim-alt: var(--color-#{$color}-light-shade);

    @media (prefers-color-scheme: dark) {
      --section-color-dim: var(--color-#{$color}-dark-shade);
      --section-color-dim-alt: var(--color-#{$color}-dark-tint);
      --section-color-alt-dim: var(--color-#{$color}-light-shade);
      --section-color-alt-dim-alt: var(--color-#{$color}-light-tint);
    }
  } @else {
    --section-color: var(--color-#{$color});
    --section-color-alt: var(--color-#{$color}-alt);
    --section-color-dim: var(--color-#{$color}-dim);
    --section-color-dim-alt: var(--color-#{$color}-dim-alt);
    --section-color-alt-dim: var(--color-#{$color}-alt-dim);
    --section-color-alt-dim-alt: var(--color-#{$color}-alt-dim-alt);
  }
}
