@mixin set($color, $dark: false) {
  --section-color-dark: var(--color-#{$color}-dark);
  --section-color-light: var(--color-#{$color}-light);

  @if $dark and $color != "blue" and $color != "gray" {
    --section-color: var(--color-#{$color}-dark);
    --section-color-alt: var(--color-#{$color}-light);

    --section-color-dim: var(--color-#{$color}-dark-tint);
    --section-color-dim-alt: var(--color-#{$color}-dark-shade);
    --section-color-alt-dim: var(--color-#{$color}-light-tint);
    --section-color-alt-dim-alt: var(--color-#{$color}-light-shade);

    @media (prefers-color-scheme: dark) {
    --section-color-dim:  var(--color-#{$color}-dark-shade);
    --section-color-dim-alt:  var(--color-#{$color}-dark-tint);
    --section-color-alt-dim:  var(--color-#{$color}-light-shade);
    --section-color-alt-dim-alt:  var(--color-#{$color}-light-tint);
    }

  } @else {
    --section-color: var(--color-#{$color});
    --section-color-alt: var(--color-#{$color}-alt);
    --section-color-dim: var(--color-#{$color}-dim);
    --section-color-dim-alt: var(--color-#{$color}-dim-alt);
    --section-color-alt-dim: var(--color-#{$color}-alt-dim);
    --section-color-alt-dim-alt: var(--color-#{$color}-alt-dim-alt);
  }
}
