@use "app/routes/+layout.style.scss" as layout;

@each $color, $_dark, $_light in layout.$colors {
  .#{$color} {
    color: var(--color-#{$color});
  }
  .#{$color}Alt {
    color: var(--color-#{$color}-alt);
  }
  .#{$color}Light {
    color: var(--color-#{$color}-light);
  }
  .#{$color}Dark {
    color: var(--color-#{$color}-dark);
  }
  .#{$color}Gradient {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(
      to right,
      var(--color-#{$color}-dark),
      var(--color-#{$color}-light)
    );
  }
}
