@use "app/styles/sticky" as sticky;
@use "app/styles/colors" as colors;

.title {
  text-align: center;
  margin: 1rem 0;
}

.subtitle {
  max-width: 60rem;
  margin: 0 auto;
}

.light {
  color-scheme: light;
  img {
    background-color: var(--color-white);
  }
}

.dark {
  color-scheme: dark;
  img {
    background-color: var(--color-black);
  }
}

.asset {
  flex: 1;
  border-radius: 1rem;
  overflow: clip;
  border: 1px solid var(--section-color);
  background-image: linear-gradient(
    to bottom left,
    color-mix(in srgb, var(--section-color-dim) 24%, var(--color-background)),
    color-mix(in srgb, var(--section-color-dim) 8%, var(--color-background))
  );

  img {
    user-select: none;
    height: 8rem;
    width: 100%;
    padding: 2rem;
    border-bottom: 1px solid var(--section-color-dim);
  }

  > strong {
    padding: 1rem;
    display: block;
    color: var(--section-color);
    font-size: large;
  }
  > p {
    padding: 0 1rem;
  }

  .downloadPills {
    padding: 1.5rem 1rem;
  }
}

.downloadPills {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  a {
    color: var(--color-background);
    background: linear-gradient(
      to bottom right,
      var(--section-color),
      color-mix(in srgb, var(--section-color-alt), var(--section-color))
    );
    text-decoration: none;
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
  }
}

.logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  gap: 1.5rem;
  justify-items: stretch;
  align-items: stretch;
}

section {
  scroll-margin-top: sticky.$size;
}

h2 {
  text-align: center;
  color: var(--section-color);
  background: linear-gradient(
    to bottom,
    var(--section-color),
    color-mix(in srgb, var(--section-color-alt), var(--section-color))
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.5lh;
  font-size: 3rem;
}

.widgetTabs {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
}

.widgetGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 30rem;
  width: 100%;
  height: min-content;
  padding: 2rem;
  flex: none;

  :is(&:hover, &:focus-within) img {
    opacity: 0.25;
  }

  > button {
    all: unset;

    > img {
      margin: -35.2% -34%;
      pointer-events: none;
      user-select: none;
    }

    &:nth-child(3n),
    &:nth-child(3n + 1) {
      z-index: 1;
    }

    &:hover,
    &:focus {
      z-index: 2;
    }

    :is(&:hover, &:focus, &[aria-selected="true"]) img {
      opacity: 1;
    }
  }

  > button:focus > img {
    animation: shake 0.4s;
    @keyframes shake {
      0% {
        transform: translateX(0) rotate(0deg);
      }
      20% {
        transform: translateX(-2px) rotate(-3deg);
      }
      50% {
        transform: translateX(2px) rotate(2deg);
      }
      80% {
        transform: translateX(-1px) rotate(-1deg);
      }
      100% {
        transform: translateX(0) rotate(0deg);
      }
    }
  }
}

.widgetPanel {
  border-radius: 1rem;
  border: 1px solid var(--section-color);
  background-image: linear-gradient(
    to bottom left,
    color-mix(in srgb, var(--section-color-dim) 24%, var(--color-background)),
    color-mix(in srgb, var(--section-color-dim) 8%, var(--color-background))
  );
  display: flex;
  padding: 1rem;
  flex: 1 1 30rem;
  min-width: min(100%, 30rem);
  position: relative;

  &[hidden] {
    display: none;
  }

  &::after {
    position: absolute;
    z-index: -1;
    inset: 0;
    transform-origin: bottom;
    transform: scale(0.9, 0.7);
    content: "";
    background-color: var(--section-color-dim-alt);
    filter: blur(50px);
    opacity: 0.2;
  }

  > article {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > strong {
      color: var(--section-color);
      font-size: large;
      &:first-child {
        font-size: xx-large;
      }
    }
  }

  > img {
    width: min(16rem, 45%);
    user-select: none;
  }
}

.downloadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  width: fit-content;
  border-radius: 2rem;
  padding: 1rem 2.4rem;
  text-decoration: none;
  background: linear-gradient(
    to top,
    var(--section-color),
    var(--section-color-alt)
  );
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  margin: 3rem auto;

  svg {
    height: 1lh;
    path {
      fill: currentColor;
    }
  }
}
