import { faToggleOff, faToggleOn } from "@fortawesome/free-solid-svg-icons";
import styles from "./switch.module.css"

export interface Input extends Omit<Marko.HTML.Input, "type"> {
  off: string;
  on: string;
}

const/{ on, off, ...checkboxInput }=input

label class=styles.label
  span -- ${off}
  span class=styles.switch
    input ...checkboxInput type="checkbox"
    fa-icon=faToggleOff class=styles.off
    fa-icon=faToggleOn class=styles.on
  span -- ${on}