import { faToggleOff, faToggleOn } from "@fortawesome/free-solid-svg-icons";
import * as styles from "./app-switch.module.scss";
export interface Input extends Omit<Marko.HTML.Input, "type"> {
  off: string;
  on: string;
}

const/{ on, off, ...checkboxInput }=input

label.${styles.label}
  span -- ${off}
  span.${styles.switch}
    input ...checkboxInput type="checkbox"
    fa-icon.${styles.off}=faToggleOff
    fa-icon.${styles.on}=faToggleOn
  span -- ${on}
