.tabs {
  display: flex;
  background-color: var(--color-gray-dim);
  align-items: stretch;
}

.files {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  background-color: var(--color-gray-dim);
}

.tab {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  text-wrap: nowrap;
  border-right: 2px solid transparent;
  &:hover,
  &[aria-selected="true"] {
    background-color: var(--color-gray-alt-dim);
  }
  &:not(:hover, [aria-selected="true"]) {
    border-color: var(--color-gray-alt-dim);
  }
}

.close {
  background: none;
  border: none;
  &:hover {
    color: var(--color-red);
  }
}

.add {
  display: flex;
  margin-left: auto;
  border: none;
  padding: 0.5rem 1rem;
  color: var(--color-foreground);
  background-color: var(--color-blue-alt-dim);
  align-items: center;
  border: 1px solid transparent;
  &:hover {
    border-color: var(--color-blue);
  }

  svg {
    height: 1rem;
    path {
      fill: currentColor;
    }
  }
}
