.tabs {
  display: flex;
  background-color: var(--color-gray-dim);
  align-items: stretch;
}

.files {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  background-color: var(--color-gray-dim);
}

.tab {
  display: flex;
  padding: 0.5rem 1rem;
  text-wrap: nowrap;
  border-right: 2px solid transparent;
  &:hover,
  &[aria-selected="true"] {
    background-color: var(--color-gray-alt-dim);
  }
  &:not(:hover, [aria-selected="true"]) {
    border-color: var(--color-gray-alt-dim);
  }
}

.close {
  background: none;
  border: none;
  padding: 0 0.5rem;
  margin-right: -0.5rem;
  &:hover {
    color: var(--color-red);
  }
}

.add {
  display: flex;
  margin-left: auto;
  border: none;
  padding: 0.5rem 1rem;
  color: var(--color-blue);
  background-color: var(--color-gray-dim);
  align-items: center;

  &:hover {
    background-color: var(--color-gray-alt-dim);
  }

  svg {
    height: 1rem;
    path {
      fill: currentColor;
    }
  }
}

.popover {
  inset: unset;
  max-width: 95vw;
  background-color: var(--color-gray-alt-dim);
  border: 1px solid var(--color-gray-alt);
  border-radius: 0.25rem;
}

.templateButton {
  width: 100%;
  padding: 0.6rem 0.75rem;
  background-color: transparent;
  border: none;
  text-align: left;

  &:hover,
  &:focus-visible {
    background-color: var(--color-gray-dim);
  }
}
