@use "sass:color";
$color-black: #202124;
$color-white: #ffffff;
$color-blue-dark: #0073d8;
$color-blue-light: #00cffb;
$color-green-dark: #00b068;
$color-green-light: #7ced64;
$color-yellow-dark: #fc5c00;
$color-yellow-light: #ffd100;
$color-red-dark: #cc0067;
$color-red-light: #ff5467;

$color-tint-amount: 20%;
$color-shade-amount: 20%;

$color-blue-dark-shade: color.mix($color-blue-dark, $color-black, $weight: $color-shade-amount);
$color-blue-dark-tint: color.mix($color-blue-dark, $color-white, $weight: $color-tint-amount);
$color-blue-light-shade: color.mix($color-blue-light, $color-black, $weight: $color-shade-amount);
$color-blue-light-tint: color.mix($color-blue-light, $color-white, $weight: $color-tint-amount);
$color-green-dark-shade: color.mix($color-green-dark, $color-black, $weight: $color-shade-amount);
$color-green-dark-tint: color.mix($color-green-dark, $color-white, $weight: $color-tint-amount);
$color-green-light-shade: color.mix($color-green-light, $color-black, $weight: $color-shade-amount);
$color-green-light-tint: color.mix($color-green-light, $color-white, $weight: $color-tint-amount);
$color-yellow-dark-shade: color.mix($color-yellow-dark, $color-black, $weight: $color-shade-amount);
$color-yellow-dark-tint: color.mix($color-yellow-dark, $color-white, $weight: $color-tint-amount);
$color-yellow-light-shade: color.mix($color-yellow-light, $color-black, $weight: $color-shade-amount);
$color-yellow-light-tint: color.mix($color-yellow-light, $color-white, $weight: $color-tint-amount);
$color-red-dark-shade: color.mix($color-red-dark, $color-black, $weight: $color-shade-amount);
$color-red-dark-tint: color.mix($color-red-dark, $color-white, $weight: $color-tint-amount);
$color-red-light-shade: color.mix($color-red-light, $color-black, $weight: $color-shade-amount);
$color-red-light-tint: color.mix($color-red-light, $color-white, $weight: $color-tint-amount);

$header-height: calc(48px + 4rem);
