.section {
  display: flex;
  gap: 1rem;
  justify-content: left;
}

.primaryLink, .secondaryLink {
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  svg {
    height: 1lh;
    path {
      fill: currentColor;
    }
  }
}

.primaryLink {
  background: linear-gradient(to right, #ff425b, #a31460);
  color: white;
}

.secondaryLink {
  color: var(--color-foreground);
  border: 1px solid currentColor;
}
