.code-block {
  position: relative;

  .concise {
    display: none;
  }
}

body.concise-mode .code-block {
  .html {
    display: none;
  }
  .concise {
    display: block;
  }
}

.filename {
  color: var(--section-color);
  font-family: "Ubuntu Mono", monospace;

  & ~ * pre {
    margin-top: 0.5rem !important;
  }
}

.code-block pre {
  max-width: fit-content;
}

.shiki,
.shiki span {
  color: var(--shiki-light);
  .code-block--reverse &,
  .code-block--dark & {
    color: var(--shiki-dark);
  }
  @media (prefers-color-scheme: dark) {
    color: var(--shiki-dark);
    .code-block--reverse &,
    .code-block--light & {
      color: var(--shiki-light);
    }
  }
}
