.code-block {
  position: relative;

  .concise {
    display: none;
  }
}

html.concise-mode .code-block {
  .html {
    display: none;
  }
  .concise {
    display: block;
  }
}

.filename {
  color: var(--section-color);
  font-family: "Ubuntu Mono", monospace;

  & ~ * pre {
    margin-top: 0.5rem !important;
  }
}

.code-block pre {
  max-width: fit-content;
}

.code-popover {
  position: absolute;
  display: none;
  z-index: 1;
  bottom: 100%;
  left: 0;
  padding: 0.5em 0.75em;
  border-radius: 0.5rem;
  color: var(--color-white) !important;
  font-size: 0.8em;
  background-color: var(--color-black);
  border: 1px solid var(--section-color-dim-alt);
  @media (prefers-color-scheme: dark) {
    border-color: var(--section-color-dim);
  }
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -1ch;
  }
  &-container {
    position: relative;
    display: inline-flex;
  }
  &-container:hover > & {
    display: flex;
  }

  & * {
    font-size: 1em !important;
  }
}

.code-cursor {
  position: absolute;
  z-index: 1;
  top: 1lh;
  left: calc(100% + 0.5ch);
  border-radius: 0.5rem;
  color: var(--color-white) !important;
  background-color: var(--color-black);
  font-size: 0.8em;
  border: 1px solid var(--section-color-dim-alt);
  @media (prefers-color-scheme: dark) {
    border-color: var(--section-color-dim);
  }
  &-container {
    position: relative;
    display: inline-flex;
    &::after {
      content: "|";
      margin: 0 -0.45ch;
      scale: 1.1;
      translate: 0 -1px;
      animation: blink 1.5s steps(2) infinite;
      @keyframes blink {
        0% {
          opacity: 0;
        }
      }
    }
  }
  &-menu {
    list-style: none;
    height: 11.25em;
    overflow-y: hidden;
    border-radius: 0.5rem;

    & > li {
      display: flex;
      width: 100%;
      padding: 0.5em 0.75em;
      padding-right: 3em;
      &:hover {
        background-color: #FFFFFF20;
      }
      &::before {
        content: "";
        display: inline-flex;
        align-self: center;
        height: 1em;
        width: 1em;
        margin-right: 0.5em;
        mask-image: url("./symbol-method.svg?no-inline");
        mask-size: 100% 100%;
        background-color: #c999ec;
      }
    }

    &:not(:hover) > li:nth-of-type(2) {
      background-color: #FFFFFF20;
    }
  }

  & * {
    font-size: 1em !important;
  }
}
