header
  img.logo src="./logo.svg" alt="" width=287 height=158
  img.logo.logo-text src="./logo-text.svg" alt="" width=73 height=23

style
  --
  .logo {
    height: 2.5em;
    width: auto;
    margin-left: 1em;
  }
  .logo-text {
    position: relative;
    top: -0.1em;
  }
  --
